<div class="container mt-4">
  <h3>Edit Message</h3>

  <div class="card">
    <div class="card-body">
      <%= form_with(model: [@project, @project_thread, @message], local: true) do |f| %>
        <div class="mb-3">
          <%= f.label :content, "Message Content", class: "form-label" %>
          <%= f.text_area :content, class: "form-control", rows: 5 %>
        </div>

        <div class="text-end">
          <%= f.submit "Update Message", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="mt-3">
    <%= link_to "Back to Thread", project_thread_path(@project, @project_thread), class: "btn btn-secondary" %>
  </div>
</div>
