<h2>Create a New Thread</h2>

<%= form_with model: @thread, local: true do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title %>

  <%= form.label :content %>
  <%= form.text_area :content %>

  <%= form.submit "Create Thread" %>
<% end %>
